<div class="container">
  <div class="card">
    <div class="heading">
      <h2>Typing Challenge</h2>
    </div>
    <div class="randomtext">
      <span
        [class]="compare(letter, userText[i])"
        *ngFor="let letter of randomText.split(''); let i = index"
        >{{ letter }}</span
      >
    </div>
    <div class="usertext">
      <input (input)="onkeyUp($any($event.target).value)" type="text" />
    </div>
    <div *ngIf="randomText === userText" class="alert-success">
      <h2>Success</h2>
    </div>
  </div>
</div>
